# Ignore everything by default
*

!makemk.sh
!mkfile

# C source
!emu/Linux/
!emu/mkfile
!emu/port/
!include/
!lib*/
!limbo/
# NOTE: need to change for ARM
!Linux/386/include
!mkfiles/
!os/
!tools/
!utils/

# Limbo source
!appl/
!module/

# Don't add /lib or /usr to the build context. These must be bind mounted.
keydb/
lib/
usr/

# Inferno root directory contents
!acme/
!appl/
!dis/
!doc/
!fonts/
!icons/
!locale/
!man/
!module/
!opt/
!services/
